
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>İstatistik Sayfası</h2>

<div class="card text-white bg-primary mb-3" style="width:100%">
    <div class="card-body">
        <h5 class="card-title" style="color:white">Toplam Personel Sayısı : @ViewBag.employeeCount</h5>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="width:100%">
    <div class="card-body">
        <h5 class="card-title" style="color:white">En Yüksek Maaşlı Personel : @ViewBag.maxSalaryEmployee</h5>
    </div>
</div>

<div class="card text-white bg-secondary mb-3" style="width:100%">
    <div class="card-body">
        <h5 class="card-title" style="color:white">Toplam Şehir Sayısı : @ViewBag.totalCityCount</h5>
    </div>
</div>

<div class="card text-white bg-warning mb-3" style="width:100%">
    <div class="card-body">
        <h5 class="card-title" style="color:white">Yazılım Departmanı Personel Sayısı : @ViewBag.countSoftwareDepartment</h5>
    </div>
</div>

<div class="card text-white bg-success mb-3" style="width:100%">
    <div class="card-body">
        <h5 class="card-title" style="color:white">Ortalama Personel Maaşı : @ViewBag.avgEmployeeSalary</h5>
    </div>
</div>

<div class="card text-white bg-success mb-3" style="width:100%">
    <div class="card-body">
        <h5 class="card-title" style="color:white">Adana ve Ankara'da çalışan personellerin toplam Maaşı : @ViewBag.cityAnkaraOrAdanaSumSalary</h5>
    </div>
</div>

<div class="card text-white bg-success mb-3" style="width:100%">
    <div class="card-body">
        <h5 class="card-title" style="color:white">Ankara' daki yazılımcıların toplam Maaşı : @ViewBag.sumSalaryFromSoftwareDepartmen</h5>
    </div>
</div>
